<div class="container">
  <ol>
    <h1>Pubs!</h1>
    <% @pubs.each do |pub|%>
      <li><%= pub.name %></li>
    <% end %>
  </ol>
  <%= link_to "Add a pub", new_pub_path  %>
  <%= link_to "Back to home", root_path %>
</div>
